canvas {
    background: lightgray;
    border: medium solid gray;
}

canvas.sprite_holder {
    background: #a06228;
    border: medium solid #171b1e;
}

#resources {
    display: none;
}

a#download {
    display: none;
}