#main_canvas {
/*    margin: 10px;
    padding: 2px; */
    background: lightgray;
    border: medium solid gray;
}

/*#sprite_holder img {
    display: none;
}
*/
#test1 {
    display: none;
}

#necrodancer_xml {
    display: none;
}

#move_cursor {
    display: none;
}